{"timeoutreq":"<tempo-massimo-di-attesa-della-risposta-alla-sfida>","port":"<porta-di-ascolto-del-server>","rminame":"<nome-rmi-del-server>","timeoutgame":"<tempo-massimo-di-gioco>","rmiport":"<porta-di-comunicazione-della-rmi>"}